In [1]:
# 4.1 Games of Chance
import random
# A. Simulate flipping a coin 100 times, then print the percentage of results that were "heads"

In [2]:
# B. Randomly choose an element until you choose "yellow", incrememting flips each time
#    Print a message each time including how many flips have been executed and what the result was
flips = 0
sides = ["blue", "blue", "blue", "blue", "yellow", "blue"]

In [3]:
# C. Simulate a slot machine with the following rules:
#    i. Each turn, the player loses 1 point and three random elements are chosen
#    ii. If the three elements are all the same, the player wins 2 points
#    iii. If all three elements are different, the player wins 5 points
#    Continue taking turns until the player has 0 points or more than 10 points
#    Each turn, print a message describing the outcome of the machine
elements = ["red", "green", "blue"]
player_points = 7

In [4]:
# 4.2 GeoCoder Road Trip
destinations = ["Space Needle",
                "Crater Lake",
                "Golden Gate Bridge",
                "Yosemite National Park",
                "Las Vegas, Nevada",
                "Grand Canyon National Park",
                "Aspen, Colorado",
                "Mount Rushmore",
                "Yellowstone National Park",
                "Sandpoint, Idaho",
                "Banff National Park",
                "Capilano Suspension Bridge"]

# A. Install and import the geocoder library: https://geocoder.readthedocs.io/index.html
#    Then, print a statement describing the latitude and longitude of our first destination, Space Needle

In [5]:
# B. Find the farthest south destination (the result with the lowest latitude)

In [6]:
# C. For each destination, describe the direction being traveled from the previous destination
#    Hint: You can keep track of where we are using current_lat and current_lng variables
#    If the next destination has a greater latitude, it means we're going North
#    If the next destination has a greater longitude, it means we're going West
#    Print a message in the following format: "Next, we travel SouthWest to XXXXX"

### Importing External Modules

In [7]:
#!pip install pandas

In [8]:
# 4.3 EDA Demonstration
import pandas as pd
%matplotlib inline

In [9]:
print(pd.__version__)

1.1.5

In [10]:
# We will store the orders table csv data in a variable
# Tabs are used as the separating character in this file

df = pd.read_csv('.\orders.csv')

In [11]:
df = pd.read_csv('orders.csv')

In [12]:
# Use the head method to investigate the first row of data
df.head()

,order_id,order_date,ship_date,ship_mode,customer_id,product_id,sales,quantity,discount,profit,postal_code,region_id
0,AE-2016-1308551,2016-09-28,2016-10-02,Second Class,PO-8865,OFF-FEL-10001405,82.67,2,0.3,0.3,NaN,9954.0
1,AE-2016-1522857,2016-09-04,2016-09-09,Standard Class,PO-8865,TEC-EPS-10004171,78.41,6,0.5,0.5,NaN,4792.0
2,AE-2016-184765,2016-10-03,2016-10-07,Second Class,PO-8865,OFF-FEL-10001405,82.67,2,0.3,0.3,NaN,19848.0
3,AE-2016-1878215,2016-09-15,2016-09-17,Standard Class,PO-8865,TEC-EPS-10004171,78.41,6,0.5,0.5,NaN,1410.0
4,AE-2016-218276,2016-10-09,2016-10-12,Standard Class,PO-8865,TEC-EPS-10004171,78.41,6,0.5,0.5,NaN,1826.0

In [13]:
# Create a dataframe to view the column names and data types
df.info()   #(df.dtypes())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999991 entries, 0 to 999990
Data columns (total 12 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   order_id     999991 non-null  object
 1   order_date   999991 non-null  object
 2   ship_date    999991 non-null  object
 3   ship_mode    999991 non-null  object
 4   customer_id  999991 non-null  object
 5   product_id   999991 non-null  object
 6   sales        999991 non-null  float64
 7   quantity     999991 non-null  int64
 8   discount     999991 non-null  float64
 9   profit       999991 non-null  float64
 10  postal_code  192888 non-null  float64
 11  region_id    999795 non-null  float64
dtypes: float64(5), int64(1), object(6)
memory usage: 91.6+ MB

In [14]:
# Use the shape attribute to determine the amount of rows and columns total
df.shape

(999991, 12)

In [15]:
# Use the .columns property to list out the column names
# Use the .index property to identify the index

print(df.columns)
print(df.index)

Index(['order_id', 'order_date', 'ship_date', 'ship_mode', 'customer_id',
       'product_id', 'sales', 'quantity', 'discount', 'profit', 'postal_code',
       'region_id'],
      dtype='object')
RangeIndex(start=0, stop=999991, step=1)

In [34]:
# Provide a dictionary to the rename method to rename any columns
# The inplace flag determines whether to modify the original dataframe

df.rename(columns= {'sales': 'sales_values'},inplace =True)
df.head()

,order_id,order_date,ship_date,ship_mode,customer_id,product_id,sales_values,quantity,discount,profit,postal_code,region_id
0,AE-2016-1308551,2016-09-28,2016-10-02,Second Class,PO-8865,OFF-FEL-10001405,82.67,2,0.3,0.3,NaN,9954.0
1,AE-2016-1522857,2016-09-04,2016-09-09,Standard Class,PO-8865,TEC-EPS-10004171,78.41,6,0.5,0.5,NaN,4792.0
2,AE-2016-184765,2016-10-03,2016-10-07,Second Class,PO-8865,OFF-FEL-10001405,82.67,2,0.3,0.3,NaN,19848.0
3,AE-2016-1878215,2016-09-15,2016-09-17,Standard Class,PO-8865,TEC-EPS-10004171,78.41,6,0.5,0.5,NaN,1410.0
4,AE-2016-218276,2016-10-09,2016-10-12,Standard Class,PO-8865,TEC-EPS-10004171,78.41,6,0.5,0.5,NaN,1826.0

In [17]:
# Explore columns with column attributes and methods
print(df['sales_values'].head())

0    82.67
1    78.41
2    82.67
3    78.41
4    78.41
Name: sales_values, dtype: float64

In [18]:
df[['sales_values','order_id']].head()

   sales_values         order_id
0         82.67  AE-2016-1308551
1         78.41  AE-2016-1522857
2         82.67   AE-2016-184765
3         78.41  AE-2016-1878215
4         78.41   AE-2016-218276

In [32]:
df.describe()

,sales_values,quantity,discount,profit,postal_code,region_id
count,999991.000000,999991.000000,999991.000000,999991.000000,192888.000000,999795.000000
mean,245.885888,3.477444,0.247224,1.658624,55348.941095,6370.559013
std,481.540695,2.285502,0.137232,39.977661,32145.458536,10456.510728
min,0.440000,1.000000,0.000000,-6599.980000,1040.000000,38.000000
25%,30.680000,2.000000,0.130000,0.100000,23320.000000,2125.000000
50%,84.780000,3.000000,0.250000,0.200000,57103.000000,3688.000000
75%,250.740000,5.000000,0.350000,0.290000,90049.000000,5636.000000
max,22638.480000,14.000000,0.670000,8399.980000,99301.000000,98923.000000

In [41]:
print(df.ship_mode.nunique(),'\n')
print(df.ship_mode.unique(), '\n')
print(df.ship_mode.value_counts())

4

['Second Class' 'Standard Class' 'Same Day' 'First Class']

Standard Class    405356
Second Class      335758
Same Day          206222
First Class        52655
Name: ship_mode, dtype: int64

In [20]:
print(df.sales_values.mean())

245.88588773298963

In [21]:
len(df.order_id)

999991

In [22]:
# 4.4 Exploring a new dataset
# Import the products.csv dataset and explore the following questions:

df_products = pd.read_csv('products.csv')
df_products

,product_id,category,sub_category,product_name,product_cost_to_consumer
0,FUR-ADV-10000002,Furniture,Furnishings,"Advantus Photo Frame, Duo Pack",53.04
1,FUR-ADV-10000108,Furniture,Furnishings,"Advantus Clock, Erganomic",50.01
2,FUR-ADV-10000183,Furniture,Furnishings,"Advantus Photo Frame, Black",15.89
3,FUR-ADV-10000188,Furniture,Furnishings,"Advantus Stacking Tray, Erganomic",24.99
4,FUR-ADV-10000190,Furniture,Furnishings,"Advantus Frame, Duo Pack",111.18
...,...,...,...,...,...
10287,TEC-STA-10004181,Technology,Machines,"StarTech Inkjet, Durable",300.18
10288,TEC-STA-10004536,Technology,Machines,"StarTech Inkjet, Wireless",301.77
10289,TEC-STA-10004542,Technology,Machines,"StarTech Calculator, Durable",40.08
10290,TEC-STA-10004834,Technology,Machines,"StarTech Receipt Printer, Red",32.32
10291,TEC-STA-10004927,Technology,Machines,"StarTech Receipt Printer, Wireless",110.58

In [23]:
# A. What are the columns and index: do they suggest any relationship to other tables?

print(df_products.columns)
print(df_products.index)

Index(['product_id', 'category', 'sub_category', 'product_name',
       'product_cost_to_consumer'],
      dtype='object')
RangeIndex(start=0, stop=10292, step=1)

In [46]:
# B. How many rows of data are there?

df_products.count(axis='rows')

product_id                  10292
category                    10292
sub_category                10292
product_name                10292
product_cost_to_consumer    10292
dtype: int64

In [47]:
df_products.shape[0]

10292

In [25]:
# C. What are the types of each column?
df_products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10292 entries, 0 to 10291
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   product_id                10292 non-null  object
 1   category                  10292 non-null  object
 2   sub_category              10292 non-null  object
 3   product_name              10292 non-null  object
 4   product_cost_to_consumer  10292 non-null  float64
dtypes: float64(1), object(4)
memory usage: 402.2+ KB

In [26]:
# 4.5 Boolean Filtering
# Let's return to the orders dataset for the rest of the challenges
# Use boolean filtering and DataFrame/DataSeries methods to solve the following challanges:

In [42]:
df.head()

,order_id,order_date,ship_date,ship_mode,customer_id,product_id,sales_values,quantity,discount,profit,postal_code,region_id
0,AE-2016-1308551,2016-09-28,2016-10-02,Second Class,PO-8865,OFF-FEL-10001405,82.67,2,0.3,0.3,NaN,9954.0
1,AE-2016-1522857,2016-09-04,2016-09-09,Standard Class,PO-8865,TEC-EPS-10004171,78.41,6,0.5,0.5,NaN,4792.0
2,AE-2016-184765,2016-10-03,2016-10-07,Second Class,PO-8865,OFF-FEL-10001405,82.67,2,0.3,0.3,NaN,19848.0
3,AE-2016-1878215,2016-09-15,2016-09-17,Standard Class,PO-8865,TEC-EPS-10004171,78.41,6,0.5,0.5,NaN,1410.0
4,AE-2016-218276,2016-10-09,2016-10-12,Standard Class,PO-8865,TEC-EPS-10004171,78.41,6,0.5,0.5,NaN,1826.0

In [50]:
# A. What is the mean profit of orders where the ship_mode is "Second Class"

df[df['ship_mode']=='Second Class']['profit'].mean()

1.0517047992899646

In [65]:
# B. Which product is the most commonly ordered on 2017-06-08 
prod = df[df['order_date'] == '2017-06-08']['product_id'].value_counts()
# pd.set_option('display.max_rows', None) 
prod

OFF-ST-10001963     4
OFF-AR-10003875     3
OFF-ST-10001426     3
TEC-AC-10001840     3
OFF-EN-10002425     2
FUR-DEF-10002774    2
OFF-PA-10002160     2
OFF-SU-10004662     2
OFF-BOS-10000557    2
OFF-HOO-10000445    2
OFF-PA-10003416     2
OFF-AR-10003774     2
OFF-ST-10003121     2
TEC-CO-10001674     2
OFF-FA-10004533     2
OFF-AR-10003384     2
FUR-FU-10001185     2
TEC-CO-10002283     2
OFF-LA-10002295     2
OFF-EN-10004100     2
OFF-AP-10003275     2
FUR-FU-10001711     2
OFF-PA-10002237     2
OFF-EAT-10000522    2
FUR-FU-10000907     2
OFF-AR-10000307     2
OFF-ROG-10003993    2
FUR-BO-10003554     1
OFF-ST-10002074     1
FUR-FU-10001447     1
TEC-CO-10000427     1
OFF-EN-10001327     1
OFF-ST-10002172     1
FUR-BO-10004630     1
OFF-PA-10002581     1
OFF-LA-10001982     1
OFF-BI-10001324     1
OFF-EN-10003628     1
FUR-CH-10004810     1
TEC-CO-10003083     1
OFF-AR-10003856     1
OFF-PA-10000552     1
OFF-FA-10003836     1
OFF-AR-10003217     1
OFF-PA-10002725     1
OFF-BI-10002594     1
FUR-BO-10003408     1
OFF-FA-10002617     1
TEC-PH-10001795     1
FUR-TA-10002235     1
OFF-PA-10000474     1
TEC-PH-10001574     1
OFF-LA-10004430     1
OFF-ST-10000645     1
OFF-BI-10000605     1
OFF-PA-10001944     1
OFF-SME-10003047    1
OFF-HAR-10001310    1
FUR-BO-10001558     1
FUR-DAN-10002028    1
OFF-HAM-10002778    1
FUR-FU-10000339     1
FUR-FU-10000394     1
OFF-LA-10001444     1
OFF-AR-10004651     1
OFF-EN-10004144     1
OFF-FA-10002047     1
OFF-ACC-10004182    1
TEC-MA-10000772     1
OFF-FA-10003059     1
OFF-AR-10003012     1
OFF-AR-10002681     1
OFF-SU-10003719     1
OFF-SU-10001697     1
OFF-FA-10003020     1
OFF-SU-10003267     1
OFF-BI-10001286     1
FUR-TA-10003354     1
OFF-ST-10002538     1
OFF-SU-10001351     1
OFF-FA-10002156     1
OFF-ST-10001478     1
OFF-BI-10003999     1
OFF-KRA-10001807    1
OFF-HON-10000966    1
TEC-AC-10002170     1
FUR-FU-10004587     1
TEC-AC-10003725     1
OFF-ST-10001124     1
TEC-PH-10001917     1
TEC-AC-10001756     1
OFF-SU-10001308     1
OFF-AP-10000407     1
FUR-BO-10002736     1
OFF-FA-10000520     1
OFF-GLO-10004610    1
OFF-SME-10000335    1
TEC-AC-10002172     1
OFF-TEN-10000794    1
TEC-CAN-10004291    1
FUR-BO-10003386     1
OFF-PA-10000091     1
TEC-EPS-10001644    1
OFF-AR-10000821     1
FUR-BO-10003320     1
OFF-ST-10003208     1
OFF-ST-10004377     1
OFF-AR-10000538     1
OFF-BI-10003468     1
TEC-SAN-10000235    1
OFF-BI-10004519     1
OFF-CUI-10001060    1
TEC-CO-10004481     1
OFF-BI-10001124     1
OFF-BRE-10002706    1
OFF-AP-10002330     1
FUR-CH-10000953     1
FUR-CH-10002991     1
OFF-ACC-10003806    1
OFF-PA-10004040     1
OFF-BI-10002715     1
OFF-ST-10000020     1
FUR-IKE-10002268    1
OFF-ST-10002444     1
OFF-ST-10000988     1
TEC-AC-10004334     1
TEC-HEW-10004522    1
FUR-BO-10002824     1
TEC-AC-10003095     1
OFF-SU-10004177     1
OFF-ROG-10001735    1
OFF-BI-10000827     1
TEC-LOG-10001629    1
OFF-ST-10000046     1
TEC-CO-10002466     1
OFF-EN-10004903     1
OFF-BOS-10001511    1
OFF-SU-10002342     1
OFF-SU-10001657     1
OFF-LA-10002927     1
FUR-FU-10003283     1
OFF-EN-10000699     1
OFF-AR-10002939     1
OFF-FA-10001521     1
OFF-PA-10001215     1
FUR-CH-10003623     1
TEC-AC-10000642     1
TEC-PH-10002292     1
TEC-OKI-10003868    1
FUR-BO-10000676     1
OFF-FIS-10004882    1
TEC-AC-10003433     1
OFF-AP-10001130     1
FUR-FU-10003829     1
FUR-FU-10000468     1
FUR-FU-10003464     1
FUR-IKE-10001539    1
TEC-PH-10004664     1
FUR-FU-10004097     1
FUR-FU-10002253     1
FUR-BUS-10004854    1
OFF-FA-10000087     1
TEC-CIS-10004967    1
TEC-AC-10004704     1
OFF-SME-10002870    1
FUR-BO-10001476     1
OFF-BI-10000590     1
OFF-AVE-10002024    1
OFF-AR-10001850     1
OFF-PA-10003838     1
OFF-SU-10003130     1
FUR-CH-10004491     1
TEC-CIS-10002565    1
OFF-BI-10001326     1
OFF-LA-10001830     1
OFF-ST-10004695     1
FUR-BO-10004340     1
OFF-ST-10001050     1
OFF-OIC-10000492    1
FUR-FU-10004617     1
OFF-PA-10004600     1
FUR-OFF-10001224    1
OFF-ROG-10004949    1
OFF-LA-10000271     1
FUR-FU-10002637     1
FUR-BUS-10001187    1
OFF-BI-10003400     1
OFF-FA-10004910     1
OFF-AR-10003897     1
FUR-BO-10003499     1
OFF-AP-10004487     1
OFF-PA-10003349     1
OFF-BI-10001718     1
OFF-AP-10003622     1
OFF-ST-10002463     1
OFF-AR-10001777     1
OFF-SU-10000705     1
TEC-AC-10000890     1
OFF-AR-10000356     1
OFF-AP-10002675     1
TEC-PH-10004667     1
OFF-PA-10003797     1
OFF-FEL-10004224    1
OFF-EN-10002556     1
OFF-AP-10003849     1
OFF-HON-10000934    1
FUR-CH-10002117     1
TEC-MA-10003704     1
OFF-LA-10004062     1
OFF-ROG-10003898    1
OFF-BI-10002824     1
OFF-AR-10002399     1
FUR-FU-10003214     1
OFF-BI-10003582     1
OFF-SU-10002306     1
FUR-BO-10002390     1
TEC-MEM-10000374    1
OFF-AVE-10000608    1
OFF-PA-10003686     1
OFF-PA-10003492     1
OFF-AP-10001916     1
FUR-CH-10001756     1
TEC-PH-10002079     1
OFF-LA-10004677     1
FUR-FU-10001774     1
FUR-CH-10000026     1
OFF-AR-10001208     1
OFF-LA-10001294     1
OFF-BI-10003707     1
TEC-CO-10003992     1
TEC-AC-10004566     1
OFF-SME-10004518    1
TEC-MEM-10002919    1
OFF-SU-10001624     1
OFF-FA-10004792     1
FUR-SAF-10002180    1
OFF-BI-10001304     1
TEC-AC-10002530     1
OFF-BI-10002429     1
TEC-PH-10003325     1
FUR-FU-10002004     1
OFF-ELD-10001318    1
OFF-LA-10003766     1
OFF-BI-10001643     1
OFF-AR-10004010     1
FUR-BO-10004824     1
FUR-IKE-10002719    1
FUR-TA-10001744     1
OFF-ST-10001858     1
OFF-STI-10001955    1
OFF-CAR-10003373    1
FUR-BO-10000502     1
OFF-PA-10004569     1
OFF-PA-10003848     1
OFF-GRE-10003899    1
FUR-BO-10001390     1
OFF-HAR-10002479    1
TEC-ENE-10000895    1
OFF-STA-10003956    1
FUR-CH-10002880     1
TEC-AC-10001719     1
OFF-SME-10000973    1
OFF-BI-10004440     1
OFF-SU-10004361     1
FUR-CH-10001455     1
OFF-AR-10003179     1
FUR-CH-10004790     1
OFF-KRA-10003337    1
OFF-EN-10004568     1
TEC-AC-10004379     1
OFF-AR-10001482     1
OFF-BI-10001036     1
OFF-AR-10004881     1
TEC-PH-10000303     1
OFF-ST-10004583     1
OFF-STO-10004779    1
OFF-BI-10002706     1
OFF-LA-10000216     1
FUR-DEF-10002865    1
OFF-ST-10000560     1
FUR-BO-10001596     1
FUR-BO-10004821     1
OFF-ST-10001025     1
TEC-PH-10003075     1
OFF-FA-10002597     1
FUR-BO-10001946     1
OFF-BI-10000734     1
OFF-AR-10000319     1
OFF-AR-10000110     1
FUR-ELD-10003802    1
OFF-AP-10002226     1
OFF-AR-10000584     1
FUR-CH-10000105     1
OFF-SAN-10004824    1
FUR-CH-10004751     1
OFF-FA-10003659     1
FUR-CH-10002374     1
OFF-EN-10002464     1
FUR-RUB-10003724    1
OFF-BI-10000719     1
OFF-PA-10004248     1
OFF-OIC-10003366    1
OFF-SME-10003805    1
OFF-ACC-10002680    1
OFF-EN-10000927     1
TEC-CO-10002057     1
OFF-ST-10001758     1
OFF-ST-10002175     1
Name: product_id, dtype: int64

In [61]:
# 4.6 Sorting and Filtering

In [30]:
# A. What are the three most profitable orders purchased by customer PO-8865?

In [31]:
# B. What are the five orders of product_id TEC-HEW-10002304 with the highest quanitity?

## Recap

We covered a lot of ground! It's ok if this takes a while to gel.

```python

# basic DataFrame operations
df.head()
df.tail()
df.shape
df.columns
df.Index

# selecting columns
df.column_name
df['column_name']

# renaming columns
df.rename({'old_name':'new_name'}, inplace=True)
df.columns = ['new_column_a', 'new_column_b']

# notable columns operations
df.describe() # five number summary
df['col1'].nunique() # number of unique values
df['col1'].value_counts() # number of occurrences of each value in column

# filtering
df[ df['col1'] < 50 ] # filter column to be less than 50
df[ (df['col1'] == value1) & (df['col2'] > value2) ] # filter column where col1 is equal to value1 AND col2 is greater to value 2

# sorting
df.sort_values(by='column_name', ascending = False) # sort biggest to smallest

```


It's common to refer back to your own code *all the time.* Don't hesistate to reference this guide! 🐼